@import "tailwindcss";
@theme {
  --font-jost: "Jost", sans-serif;
  --default-font-family: var(--font-jost);

  --color-red: #ba0b2f;
  --color-red-bright: #db1a1a;
  --color-black: #191919;
  --color-gray-300: #999999;
  --color-gray-500: #757575;
  --color-gray-700: #4d4d4d;
}
@layer utilities {
}
