DOCKERFILE=prod.dockerfile

API_PORT=3003
API_KEY=test

JWT_SECRET=token
JWT_REFRESH_SECRET=refresh_token

PEPPER_SECRET=MonPoivreSuperSecret123!

FRONTEND_PORT=80

POSTGRES_USER=admin
POSTGRES_PASSWORD=toto
POSTGRES_DB=hackathon

DATABASE_URL=postgresql://admin:toto@db:5432/hackathon

CORS_ORIGIN=http://localhost