API_KEY=test
API_PORT=3003

JWT_SECRET=token
JWT_REFRESH_SECRET=refresh_token

PEPPER_SECRET=MonPoivreSuperSecret123!

DATABASE_URL=postgresql://admin:toto@db:5432/hackathon

CORS_ORIGIN=http://localhost